body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.values {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: gray;
    width: 600px;
    outline: none;
    border-radius: 15px;
}